*{
    box-sizing: border-box;
}

.weed{
    background-image: url("weed.png");
}
.exta{
    background-image: url("extasy.jpg");
}
.champi{
    background-image: url("champignon.png");
    }
.coke{
    background-image: url("coke.jpg");
    }
.keta{
    background-image: url("keta.png");
    }
.hero{
        background-image: url("hero.jpg");
        }
.life{
            background-image: url("life.jpg");
            }
.madi{
            background-image: url("weed.png");
                }

    /*
.exta{
    background-image: url("weed.png");
    }
    */